.pgf-random-pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 50%;
  
  .random-item {
    &.no-image {
      background-color: #616161;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .pgf-random-pics {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;

    .random-item {
      &.no-image {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 596px) {
  .pgf-random-pics {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
