.pgf-text-image {
  position: relative;
  display: flex;
}

.pgf-text-image--left,
.pgf-text-image--right {
  width: 50%;
  padding: 0 20px;
}

.pgf-text-image.inverted {
  flex-direction: row-reverse;
}


.pgf-text-image--title {
  vertical-align: top;
  margin: 50px;
  font-weight: 700;
  font-size: 1.5rem;
}

.pgf-text-image--text {
  margin: 20px;
}

.pgf-text-image--image img {
  width: 100%;
  height: auto;
}