.brand {
  display: flex;
}

.brand--logo {
  padding: 10px;
  height: 40px;
  width: 40px;
}

.brand__svg {
  height: 100%;
  width: auto;
}

.brand__rect {
  transition: transform 1000ms ease;
  transform-origin: center center;
  position: relative;
}

.brand__svg:hover .brand__rect {
  transform: rotateX(180deg);
}

.brand__rect--8 {
  transition-delay: 0ms;
}

.brand__rect--7 {
  transition-delay: 200ms;
}

.brand__rect--6 {
  transition-delay: 400ms;
}

.brand__rect--5 {
  transition-delay: 600ms;
}

.brand__rect--4 {
  transition-delay: 800ms;
}

.brand__rect--3 {
  transition-delay: 1000ms;
}

.brand__rect--2 {
  transition-delay: 1200ms;
}

.brand__rect--1 {
  transition-delay: 1400ms;
}

.brand__svg:hover .brand__rect--1 {
  transition-delay: 0ms;
}

.brand__svg:hover .brand__rect--2 {
  transition-delay: 150ms;
}

.brand__svg:hover .brand__rect--3 {
  transition-delay: 300ms;
}

.brand__svg:hover .brand__rect--4 {
  transition-delay: 450ms;
}

.brand__svg:hover .brand__rect--5 {
  transition-delay: 600ms;
}

.brand__svg:hover .brand__rect--6 {
  transition-delay: 750ms;
}

.brand__svg:hover .brand__rect--7 {
  transition-delay: 900ms;
}

.brand__svg:hover .brand__rect--8 {
  transition-delay: 1050ms;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.brand--name {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
  padding: 5px 10px;
}