.brand {
  display: flex; }
  .brand .brand__name {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 10px; }
  .brand .brand__svg {
    height: 40px;
    width: 40px;
    padding: 10px; }
    .brand .brand__svg .brand__rect {
      transition: transform 1000ms ease;
      transform-origin: center center;
      position: relative; }
    .brand .brand__svg:hover .brand__rect {
      transform: rotateX(180deg); }
    .brand .brand__svg .brand__rect.brand__rect--1 {
      transition-delay: 1400ms; }
    .brand .brand__svg .brand__rect.brand__rect--2 {
      transition-delay: 1200ms; }
    .brand .brand__svg .brand__rect.brand__rect--3 {
      transition-delay: 1000ms; }
    .brand .brand__svg .brand__rect.brand__rect--4 {
      transition-delay: 800ms; }
    .brand .brand__svg .brand__rect.brand__rect--5 {
      transition-delay: 600ms; }
    .brand .brand__svg .brand__rect.brand__rect--6 {
      transition-delay: 400ms; }
    .brand .brand__svg .brand__rect.brand__rect--7 {
      transition-delay: 200ms; }
    .brand .brand__svg .brand__rect.brand__rect--8 {
      transition-delay: 0ms; }
  .brand .brand__svg:hover .brand__rect.brand__rect--8 {
    transition-delay: 0ms; }
  .brand .brand__svg:hover .brand__rect.brand__rect--7 {
    transition-delay: 200ms; }
  .brand .brand__svg:hover .brand__rect.brand__rect--6 {
    transition-delay: 400ms; }
  .brand .brand__svg:hover .brand__rect.brand__rect--5 {
    transition-delay: 600ms; }
  .brand .brand__svg:hover .brand__rect.brand__rect--4 {
    transition-delay: 800ms; }
  .brand .brand__svg:hover .brand__rect.brand__rect--3 {
    transition-delay: 1000ms; }
  .brand .brand__svg:hover .brand__rect.brand__rect--2 {
    transition-delay: 1200ms; }
  .brand .brand__svg:hover .brand__rect.brand__rect--1 {
    transition-delay: 1400ms; }
